{% extends 'base.html' %}
{% block title%}about us{% endblock %}

{% block content %}
    <section class="about__achievements">
        <div class="container about__achievements-container"> <div class="about__achievements-left"> <img src="./static/images/high.jpg">
            </div>
            <div class="about__achievements-right">
                <h1>About Us</h1>
                <p>
                    EAST ENERGY LIMITED (EEL) is a Nigerian company established in 2005, 
                    fully owned by Nigerian shareholders and with collaborative partnerships with expatriates. 
                    Our primary focus is on delivering professional services in various fields including Independent Rig Inspection,
                    QHSE Inspections, DROPS Survey, Rig Start-ups, Condition Survey, Process Safety and QHSE Consultancy, Project Commissioning,
                    Process Shutdown/Tank Cleaning, and Training.
                </p>

                <div class="achievements__cards">
                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="fas fa-certificate"></i>
                         </span>
                        <h3>450+</h3>
                        <p>Certificate</p>
                    </article>

                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="fas fa-users"></i> </span>
                        <h3>200+</h3>
                        <p>Staff</p>
                    </article>

                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="fas fa-trophy"></i> </span>
                        <h3>26+</h3>
                        <p>Awards</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!================end of achievement ================>

    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="container team__container">
            <article class="team__member">
              <div class="team__member-image">
                <img src="./static/images/sam larry.jpg">
              </div>
              <div class="team__member-info">
                <h4> Beatrice Alex</h4>
                <p>team member</p>
              </div>

           </article>

           <article class="team__member">
              <div class="team__member-image">
                <img src="./static/images/frank ocean.jpg">
              </div>
              <div class="team__member-info">
                <h4> Beatrice Alex</h4>
                <p>team member</p>
              </div>

           </article>


           <article class="team__member">
              <div class="team__member-image">
                <img src="./static/images/kano stella (1).jpg">
              </div>
              <div class="team__member-info">
                <h4> Beatrice Alex</h4>
                <p>team member</p>
              </div>

           </article>

           <article class="team__member">
              <div class="team__member-image">
                <img src="./static/images/babatunde jacob.jpg">
              </div>
              <div class="team__member-info">
                <h4> Beatrice Alex</h4>
                <p>team member</p>
              </div>

           </article>

           <article class="team__member">
              <div class="team__member-image">
                <img src="./static/images/beatrice abiola.jpg">
              </div>
              <div class="team__member-info">
                <h4> Beatrice Alex</h4>
                <p>team member</p>
              </div>

           </article>

           <article class="team__member">
              <div class="team__member-image">
                <img src="./static/images/kano stella (2).jpg">
              </div>
              <div class="team__member-info">
                <h4> Beatrice Alex</h4>
                <p>team member</p>
              </div>

           </article>


      </div>
    </section>


{% endblock content %}